<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/OWNER/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="BlaiseD" />
            <add key="ClearTextPassword" value="8a5e0bd392dfed10d813788bf403a5355bf470e7" />
        </github>
    </packageSourceCredentials>
</configuration>